body {   
    margin-top:10px;
    width:80%;
    margin:auto;
    
}

h1{
    text-align:center;    
}

#text
{   padding-right:10%;

    float:left;
    width:150px;
    margin:auto;
    }
#input
{   

    float:left;
    width:150px;
    margin:auto;
    }
#label
{  
    padding-left:10px;
    float:left;
    width:100px;
    margin:auto;
}